---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: grafana
  namespace: monitoring
  labels:
    section: monitoring-resource
spec:
  endpoints:
  - honorLabels: true
    port: ui
  selector:
    matchLabels:
      app: grafana
